head{
    font-size: 15px;
}
header{
    text-align: center;
}
body{
    background-color:lightgreen;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    color: red;
    text-align: right;
    margin: 5%;
}